body
  font-family 'Open Sans', sans-serif
  font-size 16px
  //background-color #F0FFF0
  background-color #F5F5F5
  color #222222
  
#masthead
  font-size 55px
  text-align center
  font-family 'Josefin Slab', sans-serif
  font-style italic
  text-decoration underline

#masthead > h1
  margin-bottom 20px

.centered
  text-align center

.recent_checkin
  font-size: 40px

.timeframe
  font-size 25px

.history_header 
  margin-bottom 60px
  p
    font-size: 35px

.history_guess
  p 
    font-size: 25px
  h1
    font-size: 30px

#chart
  margin-top 70px

#chart > svg
  height: 600px
  width: 600px

svg text
  font-family: 'Open Sans', sans-serif