head
  title Where Am I?
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Josefin+Slab:400italic,700italic")
  link(rel="stylesheet", href="stylesheets/nv.d3.css")
  link(rel="stylesheet", href="stylesheets/style.css")
  link(rel="stylesheet", href="stylesheets/960.css")
  script(src="http://d3js.org/d3.v2.js")
  script(src="/js/fisheye.js")
  script(src="/js/nv.d3.min.js")

