head
  title Where Am I?
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Josefin+Slab:700italic")
  link(rel="stylesheet", href="stylesheets/style.css")
  link(rel="stylesheet", href="stylesheets/960.css")