.grid_10.prefix_1.suffix_1
  .history_header.centered
    p I haven't checked in anywhere in a couple of hours. :(
  .history_guess.centered
    p Based on my recent activity on #{res.day} around #{res.time}:
include pie_chart