.history_header
	h1 I haven't checked in anywhere in a while. :(
	p 
		| BUT, if I were a betting man, I would guess I'm likely at #{res.type}
		| in #{res.neighborhood} based on my recent activity on #{day} around #{time}.