extends ../layout

block content
  .checkin.grid_8.prefix_2.suffix_2
    if res.checkin
      if res.public
        include public_checkin
      else
        include private_checkin
    else
      include history