.recent_checkin.info_txt.centered
	p 
		| I am at #{res.category} 
		if res.neighborhood
			| in #{res.neighborhood}.
		else if res.locality
			| in #{res.locality}.
.timeframe.centered
	p I've been here for like, #{res.time}.
